--- 
--- 

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&text=🄯');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&text=🐦');

.bird-emoji {
    font-family: "Noto Color Emoji";
}

@font-face {
    font-display: swap;
    font-family: CCSymbols;
    font-synthesis: none;
    src: url(../fonts/CCSymbols/CCSymbols.woff2) format(woff2),
        url(../fonts/CCSymbols/CCSymbols.woff) format(woff);
    unicode-range: u+a9, u+229c,
        u+1f10d-1f10f,
        u+1f16d-1f16f;
}

body {
    font-family: Lato, "Helvetica Neue", Helvetica, "Inter", sans-serif, system-ui, CCSymbols, "Source Sans 3";
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltip-text {
    visibility: hidden;
    width: 480px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 15%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.blockquote {
    margin: 0 -20px 20px;
    padding: 15px 20px 1px 40px;
    font-style: italic;
    background: #ccc;
    background: rgba(#000, 0.06);
    color: #222;
}